absl-py==0.12.0
aggdraw==1.3.11
aiodns==2.0.0
aiohttp==3.6.3
aiohttp-socks==0.5.5
alpha-vantage==2.2.0
amqp==2.6.1
appdirs==1.4.4
apturl==0.5.2
arch==4.19
asana==0.6.7
asciimatics==1.11.0
asn1crypto==1.4.0
astroid==2.4.2
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.2.0
autobahn==20.7.1
autograd==1.3
Automat==0.8.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.9.3
billiard==3.6.3.0
bitso-py==3.0.1
bleach==3.1.5
blinker==1.4
bokeh==2.1.1
Brlapi==0.7.0
Brotli==1.0.7
bs4==0.0.1
cachetools==4.2.2
cairocffi==1.1.0
CairoSVG==2.0.3
cchardet==2.1.7
celery==4.3.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
chrome-gnome-shell==0.0.0
Click==7.0
clikit==0.6.2
cma==2.7.0
cmdstanpy==0.9.5
coala-utils==0.5.1
colorama==0.4.3
command-not-found==0.3
configparser==5.0.1
constantly==15.1.0
convertdate==2.3.2
crashtest==0.3.1
crayons==0.4.0
cryptography==2.3.1
cssselect==1.1.0
cssutils==1.0.2
cupshelpers==1.0
cvxpy==1.1.13
cycler==0.10.0
Cython==0.29.21
dash==1.14.0
dash-core-components==1.10.2
dash-html-components==1.0.3
dash-renderer==1.6.0
dash-table==4.9.0
dataclasses==0.6
dateparser==0.7.6
dbus-python==1.2.16
dccd==1.1.1
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
deluge==2.0.3
diff-match-patch==20121119
dill==0.3.2
distlib==0.3.1
distro==1.4.0
distro-info===0.23ubuntu1
Django==2.2.16
django-ipware==1.1.6
django-jinja==2.3.1
django-pglocks==1.0.2
django-picklefield==0.3.2
django-sampledatahelper==0.4.1
django-sites==0.10
django-sr==0.0.4
djmail==1.0.1
dnspython==1.16.0
docopt==0.6.2
duplicity==0.8.12.0
easy-thumbnails==2.7
ecos==2.0.7.post1
elasticsearch==7.11.0
entrypoints==0.3
ephem==3.7.7.1
fake-useragent==0.1.11
fastdtw==0.3.4
fasteners==0.14.1
filelock==3.0.12
Flask==1.1.2
Flask-Compress==1.5.0
flatbuffers==1.12
fn==0.4.3
fpdf==1.7.2
FundamentalAnalysis==0.2.6
future==0.18.2
gast==0.3.3
geographiclib==1.50
GeoIP==1.3.2
geopy==2.1.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googletransx==2.4.2
grpcio==1.32.0
gunicorn==19.9.0
h5py==2.10.0
hijri-converter==2.1.1
holidays==0.11.1
html5lib==1.1
httplib2==0.14.0
httpstan==4.4.2
hyperlink==19.0.0
idna==2.8
imageio==2.9.0
importlib-metadata==1.7.0
incremental==16.10.1
iniconfig==1.0.1
int-date==0.1.8
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
ipythonblocks==1.9.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
joblib==0.14.1
json5==0.9.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.1
jupyterlab-server==1.1.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.2.0
kombu==4.6.11
korean-lunar-calendar==0.2.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
libevdev==0.5
linearmodels==4.17
lockfile==0.12.2
louis==3.12.0
LunarCalendar==0.0.9
lxml==4.5.2
lz4==3.1.3
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.11.1
matplotlib==3.4.2
mccabe==0.6.1
meson==0.53.2
mistune==0.8.4
mlxtend==0.18.0
mock==4.0.2
monotonic==1.5
mpmath==1.1.0
multibootusb==9.2.0
multidict==4.7.6
multiprocess==0.70.10
multitasking==0.0.9
mypy-extensions==0.4.3
mysql-connector-python==8.0.20
nbconvert==5.6.1
nbformat==5.0.6
nest-asyncio==1.5.1
netaddr==0.7.19
netifaces==0.10.4
networkx==2.5
nltk==3.5
notebook==6.0.3
notebook-as-pdf==0.3.1
numpy==1.19.5
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
osqp==0.6.1
packaging==20.4
packbits==0.6
pandas==1.2.3
pandoc==1.0.2
pandocfilters==1.4.2
paramiko==2.6.0
parso==0.7.0
pastel==0.2.1
patsy==0.5.1
pdblp==0.1.8
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
plotly==4.14.1
pluggy==0.13.1
ply==3.11
pomegranate==0.13.4
praw==7.1.4
prawcore==1.5.0
premailer==3.0.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
property-cached==1.6.4
protobuf==3.16.0
psd-tools==1.8.27
psutil==5.8.0
psycopg2-binary==2.8.5
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycares==3.1.1
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pyee==7.0.4
pyfiglet==0.8.post1
pygame==1.9.6
Pygments==2.2.0
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pylev==1.3.0
pylint==2.5.3
pymacaroons==0.13.0
PyMeeus==0.5.11
pymoo==0.5.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyportfolioopt==1.4.2
pyppeteer==0.2.2
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.16.0
pysimdjson==3.2.0
PySocks==1.7.1
pystan==3.0.1
pytest==6.1.0
pytest-runner==5.2
python-apt==2.0.0+ubuntu0.20.4.6
python-barcode==0.13.1
python-binance==0.7.5
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-libtorrent==1.1.13
python-magic==0.4.15
python-socks==1.2.1
python-sql==1.2.1
python-statemachine==0.8.0
pytrends==4.7.3
pytz==2020.1
pyudev==0.21.0
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.0
qdldl==0.1.5.post0
qtconsole==4.7.3
QtPy==1.9.0
raven==6.10.0
redis==2.10.5
regex==2020.7.14
rencode==1.0.6
reportlab==3.5.34
requests==2.21.0
requests-oauthlib==0.8.0
requests-unixsocket==0.2.0
retrying==1.3.3
Riskfolio-Lib==0.3.0.1
rsa==4.7.2
sampledata==0.3.7
schedule==1.0.0
scikit-image==0.18.1
scikit-learn==0.23.2
scipy==1.4.1
scs==2.1.2
seaborn==0.10.1
SecretStorage==2.3.1
selenium==3.141.0
Send2Trash==1.5.0
serpy==0.1.1
service-identity==18.1.0
setproctitle==1.1.10
setuptools-git==1.2
simanneal==0.5.0
simplejson==3.16.0
sip==4.19.21
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
SQLAlchemy==1.3.17
sqlparse==0.3.1
statemachine==0.1
statsmodels==0.11.1
stockstats==0.3.1
sympy==1.6.2
systemd-python==234
ta==0.7.0
tda-api==0.6.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
textblob==0.15.3
threadpoolctl==2.1.0
tifffile==2021.4.8
tinycss==0.4
toml==0.10.1
tornado==5.1.1
tqdm==4.48.2
traitlets==4.3.3
tweepy==3.10.0
Twisted==18.9.0
websocket-client==0.57.0
websockets==8.1
yfinance==0.1.63

